<div class="main-content">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="header" data-background-color="red">
          <h3 class="title">Rohstofflager</h3>
          <button routerLink="/commodities/products/new" class="btn btn-primary">
            Nuovo prodotto
          </button>
        </div>
        <div class="content table-responsive table-full-width">
          <table class="table table-hover table-striped">
            <thead>
            <tr>
              <th>Prodotto</th>
              <th>Categoria</th>
              <th>Quantit&agrave;</th>
              <th>Luogo</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products | async">
              <td>{{product.name}}</td>
              <td>{{product.category.name}}</td>
              <td>{{product.quantity}} {{product.unit}}</td>
              <td>{{product.location}}</td>
              <td>
                <a [routerLink]="['products', product.$key]"><i class="fa fa-pencil"></i></a>
                <a [routerLink]="['products', product.$key, 'movements', 'new']"><i class="fa fa-plus"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

