<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" *ngIf="!isFormLoading">
          <div class="header">
            <h3 class="title">Module</h3>
          </div> <!-- .header -->
          <div class="content">
            <button class="btn btn-default btn-fill btn-lg" [routerLink]="['//commodities']" style="width:100%;">
              <i class="fa fa-truck"></i>
              Rohstoffe
            </button>
          </div> <!-- .content -->
        </div> <!-- .card -->
      </div> <!-- .col-md-12 -->

    </div> <!-- .row -->


  </div> <!-- .container-fluid -->
</div> <!-- .main-content -->